{% load static %}
<nav id="tmNav" class="tm-nav">
    <a class="tm-navbar-menu" href="#">منو</a>
    <ul class="tm-nav-links">
        <li class="tm-nav-item active">
            <a href="#" data-linkid="0" data-align="right" class="tm-nav-link">صفحه نخست</a>
        </li>
        <li class="tm-nav-item">
            <a href="#" data-linkid="1" data-align="right" class="tm-nav-link">درباره من</a>
        </li>
        <li class="tm-nav-item">
            <a href="#" data-linkid="2" data-align="middle" class="tm-nav-link">رزومه</a>
        </li>
        <li class="tm-nav-item">
            <a href="#" data-linkid="3" data-align="left" class="tm-nav-link">تماس با من</a>
        </li>
    </ul>
</nav>
{% block content %}
 
{% endblock %}
<!-- Start Scripts -->
<script src="{% static 'js/jquery-1.11.0.min.js' %}"></script>
<script src="{% static 'js/background.cycle.js' %}"></script>
<script src="{% static 'slick/slick.min.js' %}"></script>
<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'js/scripts.js' %}"></script>
<!-- End Scripts -->
</body>
< </html>