<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>amir</title>
    <link rel="stylesheet" href="statics/index.css" />
  </head>
  <body>
    <h1>hi dude again, it is home page</h1>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima aliquam
    repellendus consequatur rem animi natus vitae, delectus molestias qui ea
    harum cupiditate sapiente culpa facere numquam accusantium similique
    eligendi ut!
  </body>
</html>
